<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://freepngimg.com/save/89626-fork-restaurant-food-photography-icons-computer-monochrome/512x512"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      <b style="color: #333;">FoodBox</b>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">
            <i class="material-icons">home</i> <span class="icon-text">Home</span>
          </a>
        </li>
        <li class="nav-item"*ngIf="userSession">
          <a class="nav-link active" routerLink="/offer">
            <i class="material-icons">local_offer</i> <span class="icon-text">Offers</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="adminSession">
          <a class="nav-link active" routerLink="/manage-categories">
            <i class="material-icons">category</i> <span class="icon-text">Categories</span>
          </a>
        </li>
        <li class="nav-item"*ngIf="userSession">
          <a class="nav-link active" routerLink="/foodlist">
            <i class="material-icons">restaurant_menu</i> <span class="icon-text">Food List</span>
          </a>
        </li>
        <li class="nav-item"*ngIf="userSession">
          <a class="nav-link active" routerLink="/cart">
            <i class="material-icons">shopping_cart</i> <span class="icon-text">Cart</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!adminSession && !userSession">
          <a class="nav-link active" routerLink="/admin-login-register">
            <i class="material-icons">login</i> <span class="icon-text">Admin Login</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="adminSession">
          <a class="nav-link active" routerLink="/logout" (click)="adminLogout()">
            <i class="material-icons">logout</i> <span class="icon-text">Logout</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="userSession">
          <a class="nav-link active" routerLink="/logout" (click)="userLogout()">
            <i class="material-icons">logout</i> <span class="icon-text">Logout</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!adminSession && !userSession">
          <a class="nav-link active" routerLink="/user-login-register">
            <i class="material-icons">login</i> <span class="icon-text">User Login/Register</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
